<h3>TDASignals</h3>
<BookColumnsChart isPrintsSize="false" seconds="5" symbol="SPY" />
<div class="flex-container">
    <BookPieChart seconds="60" symbol="SPY" />
    <BookPieChart seconds="30" symbol="SPY" />
    <BookPieChart seconds="10" symbol="SPY" />
    <BookPieChart seconds="2" symbol="SPY" />
    <BookGaugeChart seconds="10" symbol="SPY" />
</div>
@code {

}
