@page "/orders"
@inject IJSRuntime JsRuntime;

<h1>Orders</h1>
<p>Orders component will manage multiple RH accounts' orders pending and completed master list of orders.</p>
<p>Open and close orders, trickle in, move with itm direction, probabilities in table?</p>
