
@page "/settings"
@using BlazorTrader.Data
@using BlazorTrader.Components


@*@inject TDAOptionsTableManager mgr*@

<RadzenTabs >
    <Tabs>

        @*<RadzenTabsItem Text="Dashboard">
                <PrintsDashboard symbol="QQQ" />
            </RadzenTabsItem>*@
        <RadzenTabsItem Text="Streaming">
            <TDAStreamer symbol="QQQ" />
        </RadzenTabsItem>
        <RadzenTabsItem Text="Signals" >
            <div style="height:500px">
                <TDASignals />
            </div>
        </RadzenTabsItem>
        <RadzenTabsItem Text="Quotes">

            <RadzenGrid Data="@TDAStreamerData.quote" TItem="Quote_Content" AllowPaging="true" PageSize="10">
                <Columns>
                    <RadzenGridColumn TItem="Quote_Content" Width="10%" Property="key" Title="description" />

                    <RadzenGridColumn TItem="Quote_Content" Property="bidPrice" Title="bid" />
                    <RadzenGridColumn TItem="Quote_Content" Property="lastPrice" Title="last" />
                    <RadzenGridColumn TItem="Quote_Content" Property="askPrice" Title="ask" />
                    <RadzenGridColumn TItem="Quote_Content" Property="bidSize" Title="bid Size" />
                    <RadzenGridColumn TItem="Quote_Content" Property="lastSize" Title="last Size" />
                    <RadzenGridColumn TItem="Quote_Content" Property="askSize" Title="ask Size" />
                    <RadzenGridColumn TItem="Quote_Content" Property="totalVolume" Title="volume" />
                    <RadzenGridColumn TItem="Quote_Content" Property="TradeDate" Title="trade date" />

                </Columns>
            </RadzenGrid>

            <RadzenGrid Data="@TDAStreamerData.lstOptions" TItem="OptionQuote_Response" AllowPaging="true" PageSize="10">
                <Columns>
                    <RadzenGridColumn TItem="OptionQuote_Response" Width="25%" Property="key" Title="description" />
                    <RadzenGridColumn TItem="OptionQuote_Response" Property="BidPrice" Title="bid" />
                    <RadzenGridColumn TItem="OptionQuote_Response" Property="LastPrice" Title="last" />
                    <RadzenGridColumn TItem="OptionQuote_Response" Property="AskPrice" Title="ask" />
                    <RadzenGridColumn TItem="OptionQuote_Response" Property="BidSize" Title="bid Size" />
                    <RadzenGridColumn TItem="OptionQuote_Response" Property="LastSize" Title="last Size" />
                    <RadzenGridColumn TItem="OptionQuote_Response" Property="AskSize" Title="ask Size" />
                    <RadzenGridColumn TItem="OptionQuote_Response" Property="TotalVolume" Title="volume" />
                    <RadzenGridColumn TItem="OptionQuote_Response" Property="QuoteDate" Title="quote date" />
                    <RadzenGridColumn TItem="OptionQuote_Response" Property="Delta" Title="delta" />
                </Columns>
            </RadzenGrid>
            Keep up with current P&ugrave;t and C&aacute;ll option price
            Add strategy choices
            Add Trades grid
        </RadzenTabsItem>

        <RadzenTabsItem Text="Actives">
            <RadzenTabs>

                <RadzenTabsItem Text="1">
                    <Actives type="60" />
                </RadzenTabsItem>
                <RadzenTabsItem Text="10">
                    <Actives type="600" />
                </RadzenTabsItem>
                <RadzenTabsItem Text="30">
                    <Actives type="1800" />
                </RadzenTabsItem>
                <RadzenTabsItem Text="60">
                    <Actives type="3600" />
                </RadzenTabsItem>
                <RadzenTabsItem Text="Day">
                    <Actives type="ALL" />
                </RadzenTabsItem>            <RadzenTabsItem Text="Echo">
                    <EchoServer />
                </RadzenTabsItem>
            </RadzenTabs>
        </RadzenTabsItem>
        <RadzenTabsItem Text="Settings" Icon="settings_applications">
            This will hold stuff like the settings and speed settings and TDA Streaming QOS info on tabs?
            <Button Clicked="@(()=>OnThemeColorChanged("#d16f9e"))">Change theme</Button>
        </RadzenTabsItem>
        <RadzenTabsItem Text="Data" Icon="perm_data_setting">
            <RadzenTabs>
                <Tabs>
                    <RadzenTabsItem Text="Calls" Icon="format_quote">


                    </RadzenTabsItem>
                </Tabs>
            </RadzenTabs>
        </RadzenTabsItem>

    </Tabs>
</RadzenTabs>

<style>
    th {
        text-align: center;
        padding: 5px;
    }

    .flex-container {
        display: flex; /* or inline-flex */
    }

    article {
        flex: 1 0 auto;
        margin-top: 50px;
        border: solid 1px green;
    }
</style>

@code {


}
